name: Waka Readme

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      # - uses: anmol098/waka-readme-stats@master
      - uses: DataBoySu/waka-readme-stats@chore/pygithub-2.8.1
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          DEBUG_LOGGING: True
          MAX_CAP: 80
          SHOW_COMMIT: False
